.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 48px;
}
.products {
    width: 100%;
    padding-right: 28px;
}
.products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products-block h3 {
    margin-bottom: 18px;
}

