
.first-footer {
    background: $bg-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.left-block {
    margin-right: 130px;
}
.delivery {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: $bg-color;
}
h1 {
    font-size: 21px;
    color: white;
}
.right-block {
    margin-top: 20px;
    margin-bottom: 20px;
}
.call {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: $bg-color;
}


.block-content {
    max-width: 260px;
    margin-top: 20px;
}
.two-footer {
    background: #39a0b9;
}
.twitter-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
.twitter-bird{
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    background: white;
    color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}
.twitt-text {
    font-size: 13px;
    color: white;
}
.twitt-two {
    margin-top: 30px;
}

.text-footer {
    font-size: 13px;
    color: white;
    padding-bottom: 4px;
}
.fa-chevron-right {
    margin-right: 10px;
}
.line-four {
    padding-bottom: 15px;
    border-bottom: 1px solid $bg-color;
}
.social-network {
    width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    background: white;
    color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
}

.three-footer {
    background: #0b4b5a;
}
.text-three-footer {
    color: $bg-color;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.border-line-footer {
    border-right: 1px solid $bg-color;
    text-decoration: none;
    padding: 0 15px;
}
.border-line-footer:last-child {
    border: none;
}