.footer-conteiner {

}
.block-content {
    max-width: 260px;
    width: 100%
    
}
.first-footer {
    background: $bg-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.left-block {
    margin-right: 130px;
}
.delivery {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: $bg-color;
}
h1 {
    font-size: 21px;
    color: white;
}
.right-block {
    margin: 20px 188px 20px -350px;
}
.call {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: $bg-color;
}



.two-footer {
    background: #39a0b9;
}
.two-block {
    // width: 260px;
}
// p {
//     font-size: 13px;
//     color: white;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
// }
.twitter-icon {
    // margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
.twitter-bird{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}
.twitt-text {
    font-size: 13px;
    color: white;
}



.twitt-two {
    margin-top: 30px;
}